# ============================================
# MDFriday Docker Configuration
# ============================================

# MDFriday Configuration
DOMAIN=localhost
SERVER_IP=127.0.0.1
HTTP_PORT=80
HTTPS_PORT=443

# MDFriday Admin
ADMIN_EMAIL=admin@localhost
ADMIN_PASSWORD=test123456

# CouchDB Admin
COUCHDB_USER=admin
COUCHDB_PASSWORD=test123456

# Caddy（Docker 容器网络地址）
CADDY_HOST=caddy
CADDY_PORT=2019

# DNSPod
DNSPOD_ENABLED=false
DNSPOD_ID=
DNSPOD_SECRET=
